
div.container

    for tool in public.tools._data.tools

        div.tool-container
            div.row
                div.col-sm-3.tool-side-panel
                    div.box-image-container
                        img(src="#{tool.image}" height="auto" width="200")
                    a.btn.btn-default.btn-sm.btn-block.tool-button.disabled #{tool.state}
                    a.btn.btn-primary.btn-sm.btn-block.tool-button(href="#{tool.link}") Project Page

                div.col-sm-9
                    h2 #{tool.name}
                    p #{tool.description}




