meta(charset='utf8')
title= name
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='#{baseUrl}/css/prism-sonosthesia.css')
script(src='#{baseUrl}/components/jquery/jquery.min.js')
script(src='#{baseUrl}/components/bootstrap/dist/js/bootstrap.min.js')
script(src='#{baseUrl}/components/prism/prism.js')